{{log this}}
<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/public/css/style.css">
  <script defer src="/public/js/index.js"></script>
</head>

<body>
  {{{body}}}
</body>

</html>