<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Posts</a></li>
                <li><a href="/postvideo">New Post</a></li>
                <li class="search">
                    <input type="text" placeholder="Search">
                    <button type="button">&#128269</button>
                </li>
                <li><a href="/login">Login</a></li>
                <li><a href="/registration" style="background-color:#731de0;">Register</a></li>
            </ul>
        </nav>
    </header>
    <h1>Fix requirements js for register</h1>
    <h1>Finish home page</h1>
    <h1>Post creation, search, comments, likes</h1>
    <h2>Posts</h2>
    <p id="post-title">Title</p>
    <p id="post-author">Author</p>
    <p id="post-time">Post creation time</p>
    <div class="video-container">
        <video controls>
            <source src="path/to/your/video.mp4" type="video/mp4">
        </video>
    </div>
    <div class="comments-section">
        <p id="post-comments">Comments</p>
    </div>
</body>
<footer>
    Athan Cheung &copy; 2024
</footer>

</html>