<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intialscale =1.0">
    <title>Home</title>

    <style>

    </style>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">CYC</a></li>
                <li><a href="postvideo.html">Post</a></li>
                <li><a href="viewpost.html">View</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="registration.html">Register</a></li>
            </ul>
        </nav>
    </header>
    <main id="main-content">
        <br>
        <h2>MAIN PAGE CONTENT</h2>
        <p style="font-size: 1.3rem;padding: 1em;"> Photo Count: <span id="photo_count"></span></p>
        <div class="container" id="container">

        </div>
    </main>
    <title>

    </title>
    <footer>
        Athan Cheung &copy; 2024
    </footer>
</body>

</html>