<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <style>
        .post-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
        }

        .container {
            width: 300px;
            margin: 20px auto;
            padding: 15px;
            box-sizing: border-box;

        }

        video {
            width: 100%;
        }
    </style>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Posts</a></li>
                <li><a href="/postvideo">New Post</a></li>
                <li class="search">
                    <input type="text" placeholder="Search">
                    <button type="button">&#128269</button>
                </li>
                <li><a href="/login">Login</a></li>
                <li><a href="/registration" style="background-color:#731de0;">Register</a></li>
            </ul>
        </nav>
    </header>
    <h2>Posts</h2>
    <div class="post-container">
        <div class="container" style="text-align:center;">
            <p id="post-title">Title</p>
            <p id="post-author">Author</p>
            <p id="post-time">Post creation time</p>
            <div class="video-container">
                <video controls>
                    <source src="..\public\videos\uploads\sample2-1723259961407-547209634.mp4" type="video/mp4">
                </video>
            </div>
        </div>

        <div class="container" style="text-align:center;">
            <p id="post-title">Title</p>
            <p id="post-author">Author</p>
            <p id="post-time">Post creation time</p>
            <div class="video-container">
                <video controls>
                    <source src="..\public\videos\uploads\sample2-1723259961407-547209634.mp4" type="video/mp4">
                </video>
            </div>
        </div>

        <div class="container" style="text-align:center;">
            <p id="post-title">Title</p>
            <p id="post-author">Author</p>
            <p id="post-time">Post creation time</p>
            <div class="video-container">
                <video controls>
                    <source src="..\public\videos\uploads\sample2-1723259961407-547209634.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>

    <div class="post-container">
        <div class="container" style="text-align:center;">
            <p id="post-title">Title</p>
            <p id="post-author">Author</p>
            <p id="post-time">Post creation time</p>
            <div class="video-container">
                <video controls>
                    <source src="..\public\videos\uploads\sample2-1723259961407-547209634.mp4" type="video/mp4">
                </video>
            </div>
        </div>

        <div class="container" style="text-align:center;">
            <p id="post-title">Title</p>
            <p id="post-author">Author</p>
            <p id="post-time">Post creation time</p>
            <div class="video-container">
                <video controls>
                    <source src="..\public\videos\uploads\sample2-1723259961407-547209634.mp4" type="video/mp4">
                </video>
            </div>
        </div>

        <div class="container" style="text-align:center;">
            <p id="post-title">Title</p>
            <p id="post-author">Author</p>
            <p id="post-time">Post creation time</p>
            <div class="video-container">
                <video controls>
                    <source src="..\public\videos\uploads\sample2-1723259961407-547209634.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</body>
<footer>
    Athan Cheung &copy; 2024
</footer>

</html>