<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intialscale =1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">CYC</a></li>
                <li><a href="postvideo.html">Post</a></li>
                <li><a href="viewpost.html">View</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="registration.html">Register</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <header>
            <br>
            <h2>Login</h2>
            <form>
                <label for="username">Username</label>
                <input type="text" name="username" id="username">
                <br>
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
                <br>
                <label for="checkbox">Remember me</label>
                <input type="checkbox">
                <br>
                <button type="submit">Login</button>
                <button type="reset">Reset</button>
            </form>
        </header>
    </main>


</body>

</html>