<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Posts</a></li>
                <li><a href="/postvideo">New Post</a></li>
                <li class="search">
                    <input type="text" placeholder="Search">
                    <button type="button">&#128269</button>
                </li>
                <li><a href="/login">Login</a></li>
                <li><a href="/registration" style="background-color:#731de0;">Register</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <h2>Login</h2>
            <form class="forms" method="POST" action="/users/login" enctype="application/x-www-form-urlencoded">
                <div class="input-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username">
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password">
                </div>
                <div class="input-group">
                    <label for="remember">Remember me</label>
                    <input type="checkbox" id="remember">
                </div>
                <div class="button-group">
                    <button type="submit">Login</button>
                    <button type="reset">Reset</button>
                </div>
            </form>
        </div>
    </main>
</body>
<footer>
    Athan Cheung &copy; 2024
</footer>

</html>