<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Posts</a></li>
                <li><a href="/postvideo">New Post</a></li>
                <li class="search">
                    <input type="text" placeholder="Search">
                    <button type="button" style="background-color:#757575;">&#128269</button>
                </li>
                <li><a href="/login">Login</a></li>
                <li><a href="/registration" style="background-color:#731de0;">Register</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="container">
            <h2>Upload Video</h2>
            <form>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" id="description" rows="4" cols="100"></textarea>
                </div>
                <div class="form-group">
                    <label for="post-video">Upload</label>
                    <input type="file" id="post-video">
                </div>
                <div class="form-group checkbox-group">
                    <input type="checkbox" id="checkbox">
                    <label for="checkbox">I accept the <a href="#">Acceptable Use Policy</a></label>
                </div>
                <button type="submit">Post</button>
            </form>
        </div>
    </main>
</body>
<footer>
    Athan Cheung &copy; 2024
</footer>

</html>