<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="../css/style.css">
    <script defer src="../js/validation.js"></script>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Posts</a></li>
                <li><a href="/postvideo">New Post</a></li>
                <li class="search">
                    <input type="text" placeholder="Search">
                    <button type="button">&#128269</button>
                </li>
                <li><a href="/login">Login</a></li>
                <li><a href="/registration" style="background-color:#731de0;">Register</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <h2>Register</h2>
            <form class="forms" method="POST" action="/users/registration" enctype="application/x-www-form-urlencoded">
                <div class="input-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" required>
                    <div id="username-rules" class="rules">

                    </div>
                </div>
                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" required>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" required>
                    <div id="password-rules" style="display:none">
                        <p id="p1"><span>&check;</span> At least 8 characters</p>
                        <p id="p2"><span>&check;</span> An uppercase letter</p>
                        <p id="p3"><span>&check;</span> A number</p>
                        <p id="p4"><span>&check;</span> A special character</p>
                    </div>
                </div>
                <div class="input-group">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" name="confirm-password" id="confirm-password">
                    <div id="matchpassword-rules" style="display: none;">
                        <p id="p5" class="invalid-text"><span>&check;</span> Passwords must match</p>
                    </div>
                </div>
                <div class="input-group">
                    <label for="age">I am over 13 years old</label>
                    <input type="checkbox" id="age" required>
                </div>
                <div class="input-group">
                    <label for="terms">I accept the <a href="#">Terms of Service</a> and <a href="#">Privacy
                            Rules</a></label>
                    <input type="checkbox" id="terms" required>
                </div>
                <div class="button-group">
                    <button type="submit">Register</button>
                    <button type="reset">Reset</button>
                </div>
            </form>
        </div>
    </main>
</body>
<footer>
    Athan Cheung &copy; 2024
</footer>

</html>