body {
  margin: 0;
  background-color: #0e0e10;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  float: left;
  width: 20%;
}

li a {
  display: block;
  padding: 20px 10px;
  background-color: #1f1f23;
  text-decoration: none;
  color: #efeff1;
  font-family: monospace;
  font-size: 14px;
  text-align: center;
}

li a:hover {
  color: #731de0;
}

h1,
h2 {
  color: #efeff1;
  font-family: FreeMono, monospace;
  padding: 0;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 54px;
  padding: 10px;
}

p {
  color: #efeff1;
  font-family: monospace;
  font-size: 18px;
  padding: 0;
  display: block;
}

form {
  color: #efeff1;
  font-family: monospace;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 10px;
}

input[type=text],
input[type=email],
input[type=password] {
  width: calc(100% - 60px);
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 14px;
  background-color: #1f1f23;
  border: 1px solid #3a3a3e;
  color: #efeff1;
  outline: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  border-color: #731de0;
}

button[type=submit],
button[type=reset] {
  padding: 10px 20px;
  margin: 5px;
  background-color: #731de0;
  border: none;
  color: #efeff1;
  font-family: monospace;
  font-size: 14px;
  cursor: pointer;
}

button[type=submit]:hover,
button[type=reset]:hover {
  background-color: #9d3be0;
}

.invalid-text {
  outline: solid red 2px;
}