body {
  margin: 0;
  background-color: #0e0e10;
  font-family: monospace;
  color: #efeff1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

header {
  background-color: #1f1f23;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}

nav {
  width: 100%;
  box-sizing: border-box;
  display: flex;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0 10px;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
}


nav li a {
  display: block;
  padding: 10px 20px;
  background-color: #1f1f23;
  text-decoration: none;
  color: #efeff1;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
}

nav li a:hover {
  background-color: #731de0;
}

nav ul li.search {
  flex: 1;
  margin-right: auto;
  justify-content: center
}

nav ul li.right-align {
  margin-left: auto;
}

.search {
  display: flex;
  align-items: center;
}


main {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
  box-sizing: border-box;
}

.container {
  background-color: #1f1f23;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type=text],
input[type=email],
input[type=password] {
  width: calc(100% - 60px);
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 14px;
  background-color: #1f1f23;
  border: 1px solid #3a3a3e;
  color: #efeff1;
  outline: none;
}


input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus,
input[type=file]:focus {
  border-color: #731de0;
}

button[type=submit],
button[type=reset] {
  padding: 10px 20px;
  background-color: #731de0;
  border: none;
  color: #efeff1;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  align-self: center;
  font-family: monospace
}

button[type=submit]:hover,
button[type=reset]:hover {
  background-color: #9d3be0;
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 10px;
}



footer {
  color: #efeff1;
  background-color: black;
  width: 100%;
  text-align: center;
}

.search {
  margin: 0 5px;
}

.search input {
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #3a3a3e;
}

.search button {
  padding: 5px 10px;
  background-color: #731de0;
  border: none;
  color: #efeff1;
  border-radius: 5px;
  cursor: pointer;
}

.search button:hover {
  background-color: #9d3be0;
}