body {
  /* original mode */
  margin: 0px;
  background-color: #0e0e10;
}

/* body{ 
  background-color: #ffffff;
  margin:0px;
} */


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  float: left;
  width: 20%;
}

/* li a {
  display: block;
  padding: 20px 10px;
  background-color:#efeff1;
  text-decoration: none;
  color: #1f1f23;
  font-family: monospace;
  font-size: 14px;
  text-align: center;
} */
li a {
  /* dark li a */
  display: block;
  padding: 20px 10px;
  background-color: #1f1f23;
  text-decoration: none;
  color: #efeff1;
  font-family: monospace;
  font-size: 14px;
  text-align: center;
}

li a:hover {
  color: #731de0;
  /* twitch.tv color */
}

/* h1 {
  color: #0e0e10;
  font-family: FreeMono, monospace;
  padding: 0;
  font-size: 54px
} */
h1 {
  /* dark h1 */
  color: #efeff1;
  font-family: FreeMono, monospace;
  padding: 0;
  font-size: 54px
}


/* p {
  color: #0e0e10;
  font-family: monospace;
  padding: px;
  font-size: 18px;
  display:block;
} */
p {
  /* dark p */
  color: #efeff1;
  font-family: monospace;
  padding: px;
  font-size: 18px;
  display: block;
}

/* h2 {
  color: #0e0e10;
  font-family: monospace;
  padding: 10px;
  font-size: 54px
} */
h2 {
  /* dark h2 */
  color: #efeff1;
  font-family: monospace;
  padding: 10px;
  font-size: 54px
}

form {
  color: #efeff1;
  font-family: monospace;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

/* form { 
  color: #0e0e10;
  font-family: monospace;
  padding: 10px;
  font-size: 18px;
  margin-bottom:10px;
} */


/* footer{
  color: #0e0e10;
  font-family: monospace;
} */
footer {
  color: #efeff1;
  font-family: monospace;
}

input[type=text] {
  padding: 5px 5px;
  /* width: 80%;
  margin: 2px;
  box-sizing: border-box; */
}

input[type=textarea] {
  width: 80%;
  padding: 10px 10px;
  margin: 2px;
  box-sizing: border-box;
  grid-row: 20px;

}

#description {
  width: 80%;
  padding: 10px 10px;
  margin: 2px;
  box-sizing: border-box;
  grid-row: 20px;
}

.input-group input[type=text],
.input-group input[type=password] {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.input-group input[type=checkbox] {
  margin-left: 10px;
  margin: 10px;
}

.invalid-text {
  outline: solid red 2px;
}